<<<<<<< HEAD
p {
    color:rgb(135, 222, 176);
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.support{
    color: blueviolet;
}

.vibes{
    display: flex;
    justify-content: center;
=======
h1 {
    color: rgb(242, 158, 41);
>>>>>>> Hotfix
}