
p {
    color:rgb(135, 222, 176);
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.support{
    color: blueviolet;
}
img{
    margin-left: 50px;
    width: 500px;
    height: 700px;
}

h1{
    text-transform: uppercase;
    color: blue;
    text-align: center;
}